/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

@import "./variables.scss";

@mixin typography {
  margin-top: 0 !important;
  font-family: Syne, Roboto;
  margin-bottom: 0.35rem !important;
}

@mixin level1 {
  @include typography;
  font-size: $typo-base-size !important;
}

@mixin level2 {
  @include typography;
  font-size: calc($typo-base-size * 0.8) !important;
}

@mixin level3 {
  @include typography;
  font-size: calc($typo-base-size * 0.6) !important;
}

@mixin level4 {
  @include typography;
  font-size: calc($typo-base-size * 0.4) !important;
}

h1 {
  @include level1;
}

h2 {
  @include level2;
}

h3 {
  @include level3;
}

h4 {
  @include level4;
}
