/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
 // Small tablets and large smartphones (landscape view)
$screen-xs-min: 450px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Computer
$screen-xxl-min: 1400px;

// Computer
$screen-xxxl-min: 1600px;

// Mobile device landscape
$screen-landscape-height: 450px;

@mixin landscape-mobiles {
  @media (max-height: #{$screen-landscape-height}) and (orientation: landscape) {
      @content;
  }
}

@mixin small-height {
  @media (max-height: #{$screen-landscape-height}) {
      @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
      @content;
  }
}


// Opposite

// Small devices
@mixin sm-down {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md-down {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg-down {
  @media (max-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl-down {
  @media (max-width: #{$screen-xl-min}) {
      @content;
  }
}

// Extra large devices
@mixin xxl-down {
  @media (max-width: #{$screen-xxl-min}) {
      @content;
  }
}


.fullheight {
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.vh-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
