/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */

/*
 * App variables
 */
$typo-base-size: 10vw;
$app-min-width: 360px;
$app-max-width: 1400px;
$app-padding: 1rem;
$app-header-height: 75px;
$app-border-radius: 15px;

$primary-color-500: #EEFF00;
$primary-color-contrast: #fff;


$secondary-color-200: #1070ff;
$secondary-color-500: #002c6e;
$secondary-color-contrast: #fff;

$primary-border-color: #000;
$layout-header-background: #ffffff;
$layout-body-background: #b8b8b8;
$background: #b8b8b8;
$primary-font: Syne;
