/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import "../styles/typography.scss";

.layout {
  z-index: 30;
  display: block;
  opacity: 1;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;

  & .video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .video {
      object-fit: cover;
      background-size: cover;
      opacity: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
    }
  }

  & .toplayer {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .container {
      flex: 1 1 auto;
      max-width: 1200px;
      z-index: 40;
      margin: 2em auto;

      & .loading-spinner {
        --looping-percent: 60;
        width: 90%;
        max-width: 10em;

        position: relative;

        [id="master"],
        [id="background"] {
          stroke-width: 13;
          stroke-linecap: round;
        }

        [id="background"] {
          stroke: rgba(238, 255, 0, 0.25);
        }

        [id="master"] {
          --looping-length: calc(
            (var(--looping-percent) * var(--total-length)) / 100
          );
          stroke: rgba(238, 255, 0, 1);
          stroke-dasharray: var(--looping-length),
            calc(var(--total-length) - var(--looping-length));
          animation: loading-loop 0.7s linear infinite;
        }

        @keyframes loading-loop {
          from {
            stroke-dashoffset: var(--total-length);
          }
          to {
            stroke-dashoffset: 0;
          }
        }
      }

      & .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
          display: flex;
          align-items: center;
          flex: 2 1 auto;
        }

        .brand {
          margin: 0 1rem;
          color: white;
        }

        & .nav {
          flex: 1 1 auto;
          @include level3;
          font-family: $primary-font;

          & .item {
            color: $primary-color-contrast;
            margin-left: 1rem;
            text-decoration: none;

            &.active {
              text-decoration-color: $primary-color-500 !important;
              text-decoration: underline;
            }
          }


        }
      }

      & .content {
        color: white;

        & .home {
          display: flex;
          flex-direction: column;
          padding: 5rem 10rem;

          & .solutions {
            flex: 1 1 auto;
            font-size: 6rem;
            font-weight: 800;
          }
          & .next {
            flex: 1 1 auto;
            color: $primary-color-500;
            font-weight: 800;
            font-size: 6rem;
          }
          & .level {
            flex: 1 1 auto;
            font-weight: 800;
            font-size: 6rem;
          }
        }
      }
    }
  }
}
