/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import "../styles/variables.scss";
@import "../styles/utils.scss";

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: $app-border-radius;

  @include landscape-mobiles {
   padding: 0.5rem 1rem;
   margin: 0.5rem 1rem;
   height: 25px;
   width: 75px;
  }
}

.button-contained {
  background-color: $secondary-color-500;
  color: $secondary-color-contrast;
  @include button();

  &:hover {
    background-color: rgba($secondary-color-500, 0.9);
    cursor: pointer;
  }
}

.button-outlined {
  background-color: transparent;
  border: 1px $secondary-color-500 solid;
  color: $secondary-color-500;
  @include button();

  &:hover {
    background-color: rgba($secondary-color-500, 0.1);
    cursor: pointer;
  }
}
