/**
 * Copyright © All rights reserved 2022
 * Infinisoft Inc.
 * www.infini-soft.com
 */
@import "../../styles/typography.scss";
@import "../../styles/utils.scss";
@import "../../styles/variables.scss";

.home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2rem;

  h1 {
    @include level2;
  }

  @include sm {
    h1 {
      @include level1;
    }
  }

  @include md {
    h1 {
      @include level1;
    }
  }

  & .title {
    font-weight: 800;
    color: $primary-color-contrast;

    &.colored {
      color: $primary-color-500;
    }
  }

  & .subtitle {
    font-weight: 800;
    color: $primary-color-contrast;

    & .colored {
      color: $primary-color-500;
    }
  }
}
